@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

$font-family-sans-serif: "Roboto", sans-serif;
$enable-rounded: false;

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.del-btn {
  //   display: none;
  transform: scale(0);
  transition: 0.5s;
}

tr:hover .del-btn {
  //   display: inline-block;
  transform: scale(1);
}
